{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <h1>{{ movie.title }}</h1>
    <p><strong>Genres: </strong>{% for genre in movie.get_genres %}{{ genre }} | {% endfor %}</p>
    <h3>Average Rating: {{ avg_rating|floatformat:2 }}</h3>
    <div>
        <img src="{% url "movie_chart" movie.id %}">
    </div>
    {#    <p><a href="{% url 'movie_chart' movie.id %}">Average Rating over Time</a></p>#}
    <a type="button" class="btn btn-default" href="{% url 'rate_movie' movie.idrat %}">Rate this movie</a>
    {% for rating in ratings %}
        <div>
            <div class="{% cycle "odd" "even" %}-row">
                <p>Rating: {{ rating.rating }} || <a
                        href="{% url 'show_rater' rating.rater.id %}">Rater: {{ rating.rater }}</a></p>
                {% if rating.review %}
                    <p><a href="{% url 'show_review' rating.id %}">See Review</a></p>
                {% else %}
                    <p>No Review</p>
                {% endif %}
            </div>

        </div>
    {% endfor %}
    {% bootstrap_pagination page_obj %}
{% endblock %}