{% extends "base.html" %}

{% block content %}
    <h1>{{ movie.title }}</h1>
    <h3>Average Rating: {{ movie.get_average_rating }}</h3>
    <p><strong>Genres: </strong>{% for genre in movie.get_genres %}{{ genre }} | {% endfor %}</p>
    <a type="button" class="btn btn-default" href="{% url 'rate_movie' movie.id %}">Rate this movie</a>
    {% for rating in ratings %}
        <div>
            <div class="{% cycle "odd" "even" %}-row">
                <p>Rating: {{ rating.rating }} || <a href="{% url 'show_rater' rating.rater.id %}">Rater: {{ rating.rater }}</a></p>
                {% if rating.review %}
                <p><a href="{% url 'show_review' rating.id %}">See Review</a></p>
                    {% else %}
                    <p>No Review</p>
                {% endif %}
            </div>

        </div>
    {% endfor %}
{% endblock %}