{% extends "Movies/rater.html" %}

{% block content2 %}
    <h3>Welcome {{ rater.user }}</h3>
    <a type="button" class="btn btn-default" href="{% url 'rate_movie' %}">Rate a movie?</a>
    {% include "Movies/ratings.html" %}
    <div>
        <table class="table">
            <caption><strong>Top Unseen Movies</strong></caption>
            <tr>
                <th class="col-md-7">Movie</th>
                <th>Rating</th>
            </tr>
            {% for movie in unseen %}
                <tr>
                    <td><a href="{% url 'show_movie' movie.id %}">{{ movie.title }}</a></td>
                    <td>{{ movie.avg_rating|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block content3 %}
    {% if request.user.is_authenticated %}
        <td><a href="{% url 'edit_rating' rating.movie.id %}">Edit</a> |
            <a href="{% url 'delete_rating' rating.movie.id %}">Delete</a></td>

    {% endif %}
{% endblock %}