{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Rater #{{ rater.id }}</h1>
        <h3>Demographics</h3>
        <ul>
            <li>Gender: {{ rater.gender }}</li>
            <li>Age: {{ rater.age }}</li>
            <li>Occupation: {{ rater.occupation_label }}</li>
        </ul>
    </div>
    {% block content2 %}
    {% endblock %}
    <div>
        <table width="40%">
         <caption><strong>Movies Rated</strong></caption>
            <tr>
                <th align="left">Movie Rated</th>
                <th>Rating</th>
            </tr>
        {% for rating in ratings %}
            <tr>
                <td><a href="{% url 'show_movie' rating.movie.id %}">{{ rating.movie.title }}</a></td>
                <td>{{ rating.rating }}</td>
            {% block content3 %}
            {% endblock %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}